.footer{
    background: rgba(234, 137, 11, 0.685);
}
.img-footer{
    height: 60px;
    width: 120px;
}
.icons-folder{
    font-size: 20px;
}
.reondear{
    width: 4em;       
    height: 3em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: rgba(253, 253, 253, 0.964);
}
.reondear1{
        width: 4em;   
    height: 3em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(234, 137, 11, 0.685);
    background: linear-gradient(0deg, rgba(223,114,9,0) 50%,rgba(234, 137, 11, 0.685) 50%); 
}
