<!--border ondulados-->
<div class="container-fluid">
    <div class="row" style="background: rgba(234, 137, 11, 0.685);
    background: linear-gradient(0deg, rgba(234, 137, 11, 0.685) 50%, rgba(223,114,9,0) 50%);">
        <div class=" reondear col-1"></div>
        <div class="reondear1 col-1"></div>
        <div class="reondear col-1"></div>
        <div class="reondear1 col-1"></div>
        <div class="reondear col-1"></div>
        <div class="reondear1 col-1"></div>  
        <div class="reondear col-1"></div>
        <div class="reondear1 col-1"></div>
        <div class="reondear col-1"></div>
        <div class="reondear1 col-1"></div>
        <div class="reondear col-1"></div>
        <div class="reondear1 col-1"></div>
    </div>
</div>
<!--contenido del footer-->
<div class="container-fluid text-center footer">
    
    <div class="row justify-content-center ">
        <div class="col-5">
            <img class="img-footer mt-2" src="../../../assets/recursos/recursos/main/logo_retina.png" alt="" srcset="">
        </div>
    </div>
    <footer class="pb-1">
        <ul class="nav justify-content-center py-1 my-1">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">SHOP</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">SALE</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">GIRLS</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">BOYS</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">LOOKBOOK</a></li>
        </ul>

        <ul class="nav justify-content-center pb-1 mb-1">
            <li class="nav-item"><i class="bi bi-facebook text-light px-1 icons-folder"></i></li>
            <li class="nav-item"><i class="bi bi-instagram text-light px-1 icons-folder"></i></li>
            <li class="nav-item"><i class="bi bi-twitter text-light px-1 icons-folder"></i></li>
        </ul>


        <p class="text-center text-light">© 2023</p>
    </footer>
</div>