
.jumbotom
    {
        border: var(--bs-primary) 2px dashed;
        padding: 6px;
        margin-bottom: 0px;
    }
    .jumbotom1
    {
        border: var(--bs-danger) 2px dashed;
        padding: 6px;
        margin-bottom: 0px;
    }    
    .mi-input::placeholder { color: #ffffff };

    
    .img-hover:hover .img-t{
        opacity: 0;  
         
     }
     .img-instagram:hover{
        filter: opacity(.5);

     }