<div class="container mb-5">
    <!--seccion 1 -->
    <div class="row justify-content-evenly">
        <div class="col-6 position-relative">
            <img class="img-fluid  " src="../../../assets/recursos/recursos/main/slider-1.jpg" style="height: 100%;"
                alt="" srcset="">
            <div class="position-absolute bottom-0 start-0 ms-5 mb-2">
                <h1 class="text-light">JUMPSUITS</h1>
                <h6 class="text-light">Confortable clothes for your little babies </h6>
                <button type="button" class="btn btn-light text-primary">
                    <h6 class="jumbotom">DISCOVER</h6>
                </button>
            </div>
        </div>
        <div class="col-4  text-center">
            <img class="img-fluid" src="../../../assets/recursos/recursos/main/girls-power.jpg" alt="">
            <h3 class="text-primary">GIRLS POWER</h3>
            <h6 class="text-primary">For a colorful sumer</h6>
        </div>
    </div>
    <!--seccion 2-->
    <div class="row justify-content-evenly text-center mt-2" style=" border: var(--bs-secondary) 1px dashed;">
        <div class="col-3">
            <img class=" img-fluid" src="../../../assets/recursos/recursos/main/baby.png" alt="">
            <h6 class="text-primary">Baby & Toddler</h6>
        </div>
        <div class="col-3">
            <img class=" img-fluid" src="../../../assets/recursos/recursos/main/girl.png" alt="">
            <h6 class="text-primary">For Girls</h6>
        </div>
        <div class="col-3">
            <img class=" img-fluid" src="../../../assets/recursos/recursos/main/boy.png" alt="">
            <h6 class="text-primary">For Boys</h6>
        </div>
        <div class="col-3">
            <img class=" img-fluid" src="../../../assets/recursos/recursos/main/toys.png" alt="">
            <h6 class="text-primary">Home & Toys</h6>
        </div>
    </div>
    <!--seccion 3-->
    <div class="row mt-2 justify-content-center text-center">
        <div class="col-12 mb-3">
            <h3 class="text-primary">NEW ARRIVALS</h3>
            <img class=" img-fluid" src="../../../assets/recursos/recursos/main/home-8.png" alt="">
        </div>
        <!--asaide-->
        <div class="col-4">
            
            <!--buscador-->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search products...."
                    aria-label="Recipient's username" aria-describedby="basic-addon2"
                    style=" border: var(--bs-secondary) 1px dashed;">
                <span class="input-group-text bg-danger bg-opacity-75" id="basic-addon2"><i
                        class="bi bi-search px-2 py-6  text-light" style="border: white 2px dashed;"></i></span>
            </div>

            <!--Categories-->
            <h5 class="text-start text-primary mt-5">CATEGORIES</h5>

            <ul class="list-group list-group-flush mt-2" style=" border: var(--bs-secondary) 1px dashed;">
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-center text-primary ">For Babys</h6>
                    <h6 class="text-center">(11)</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-center text-primary ">For Boys</h6>
                    <h6 class="text-center">(19)</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-center text-primary ">For Girls</h6>
                    <h6 class="text-center">(20)</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-center text-primary ">For Home</h6>
                    <h6 class="text-center">(14)</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-center text-primary ">For Play</h6>
                    <h6 class="text-center">(8)</h6>
                </li>
            </ul>


            <!--Best Sellers-->
            <h5 class="text-start text-primary mt-5">BEST SELLERS</h5>

            <ul class="list-group list-group-flush mt-2" style=" border: var(--bs-secondary) 1px dashed;">
                <li class="list-group-item d-flex justify-content-between">
                    <img src="../../../assets/recursos/recursos/main/boys-3-1-300x300.jpg" class="rounded-circle"
                        alt="..." style="height: 100px; width: 100px;">

                    <div class="star mt-3">
                        <h6 class="text-primary mb-2">line Sweater</h6>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>
                        <h6 class="text-primary mt-2">$46.00</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <img src="../../../assets/recursos/recursos/main/boys-4-300x300.jpg" class="rounded-circle"
                        alt="..." style="height: 100px; width: 100px;">
                    <div class="star mt-3">
                        <h6 class="text-primary mb-2">Grey Suit</h6>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>
                        <h6 class="text-primary mt-2">$80.00</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <img src="../../../assets/recursos/recursos/main/for-home-15-300x300.jpg" class="rounded-circle"
                        alt="..." style="height: 100px; width: 100px;">
                    <div class="star mt-3">
                        <h6 class="text-primary mb-2">Rabbit Casket</h6>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>
                        <h6 class="text-primary mt-2">$18.00</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <img src="../../../assets/recursos/recursos/main/girls-6-300x300.jpg" class="rounded-circle"
                        alt="..." style="height: 100px; width: 100px;">
                    <div class="star mt-3">
                        <h6 class="text-primary mb-2">Yellow Sweatshirt</h6>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>
                        <h6 class="text-primary mt-2">$38.00</h6>
                    </div>
                </li>

            </ul>

            <!--supcrpcion-->
            <div class="card mt-5 mb-5 mx-5 w-75 bg-danger bg-opacity-75 text-light">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h1> Join Our </h1>
                    <h1>Newsletter</h1>
                    <input
                        style=" ::placeholder{color:white;};   background-color: transparent; border: var(--bs-light) 2px dashed;"
                        type="email" class=" mi-input form-control w-100  mt-2" id="exampleFormControlInput1"
                        placeholder="Yours email address*">
                    <button type="button" class="btn btn-light text-danger text-opacity-75 mt-2">
                        <h6 class="jumbotom1">SUBCRIBE</h6>
                    </button>
                </div>
            </div>

        </div>

        <!--producto-->
        <div class="col-8">
            <div class="row justify-content-center text-center">
                <div class="col-4">
                    <img class=" img-fluid" src="../../../assets/recursos/recursos/main/girls-2-2-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For girls</h6>
                    <h5 class="text-primary">Blue Blouse</h5>
                    <h6 class="text-primary">$22.00</h6>
                </div>
                <div class="col-4 ">
                    <img class=" img-fluid" src="../../../assets/recursos/recursos/main/for-home-5-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For home</h6>
                    <h5 class="text-primary">Brown Rainy Bag</h5>
                    <h6 class="text-primary">$15.00</h6>
                </div>
                <div class="col-4 position-relative">
                    <img class=" img-fluid " src="../../../assets/recursos/recursos/main/for-home-2-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For home</h6>
                    <h5 class="text-primary">Rabbit Bag</h5>
                    <button class="btn text-primary btn-light rounded-pill px-3 position-absolute top-0 end-0 mx-3 mt-2" type="button" disabled>OUT OF STOCK</button>               
                    
                </div>
                <div class="col-4 ">
                    <img class=" img-fluid" src="../../../assets/recursos/recursos/main/girls-9-1-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For girls</h6>
                    <h5 class="text-primary">White Blouse</h5>
                    <h6 class="text-primary">$17.00</h6>
                </div>
                <div class="col-4 position-relative">
                    <img class=" img-fluid " src="../../../assets/recursos/recursos/main/for-home-1-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For home</h6>
                    <h5 class="text-primary">Rainbow Pillow</h5>
                    <button class="btn text-primary btn-light rounded-pill px-3 position-absolute top-0 end-0 mx-3 mt-2" type="button" disabled>OUT OF STOCK</button>               
                    
                </div>
                <div class="col-4 ">
                    <img class=" img-fluid" src="../../../assets/recursos/recursos/main/girls-6-1-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For girls</h6>
                    <h5 class="text-primary">Pink Dress</h5>
                    <h6 class="text-primary">$18.00</h6>
                </div>
                <div class="col-4 ">
                    <img class=" img-fluid" src="../../../assets/recursos/recursos/main/boys-8-1-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For boys</h6>
                    <h5 class="text-primary">Patter Shirt</h5>
                    <h6 class="text-primary">$28.00</h6>
                </div>
                <div class="col-4 ">
                    <img class=" img-fluid" src="../../../assets/recursos/recursos/main/boys-9-1-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For boys</h6>
                    <h5 class="text-primary">Shorts Whit Suspenders</h5>
                    <h6 class="text-primary">$40.00</h6>
                </div>
                <div class="col-4 position-relative">
                    <img class=" img-fluid " src="../../../assets/recursos/recursos/main/girls-3-1-580x870.jpg" alt="">
                    <h6 class="text-danger text-opacity-75">For girls</h6>
                    <h5 class="text-primary">Denim Jacket</h5>
                    <button class="btn text-primary btn-light rounded-pill px-3 position-absolute top-0 end-0 mx-3 mt-2" type="button" disabled>OUT OF STOCK</button>               
                    
                </div>
            </div>
        </div>
    </div>

</div>