<div class="container mb-5 mt-5">
    <!--seccion 1 texto principal-->
    <ng-container *ngFor="let product of productos">


        <div class="row justify-content-center mb-5">
            <div class="col-12 text-center">
                <h1 class="text-primary"> {{product.nombre}}</h1>
            </div>
            <div class="col-12 d-flex justify-content-center text-center">
                <h6 class="text-primary">Home : {{product.Categoria}} : </h6>
                <h6 class="text-danger text-opacity-75" style="margin-left: 5px;"> {{product.nombre}}</h6>
            </div>
        </div>

        <!--seccion 2 -->
        <div class="row justify-content-between mb-5 mt-5">
            <!--foto-->
            <div class="col-5">
                <div class="row">
                    <div class="col-12">
                        <img class=" img-fluid" src="../../../assets/recursos/recursos/{{product.Img1}}" alt="">

                    </div>
                    <div class="col-3 mt-3 ">
                        <img class=" img-fluid" src="../../../assets/recursos/recursos/{{product.Img1}}" alt="">

                    </div>
                    <div class="col-3 mt-3">
                        <img class=" img-fluid" src="../../../assets/recursos/recursos/{{product.Img2}}" alt="">
                    </div>

                </div>
            </div>
            <!--descripcion-->
            <div class="col-6 ">
                <div class="star mt-3">
                    <h6 class="text-primary mb-2">{{product.Precio}}</h6>
                    <ng-container *ngIf="this.product.Valoracion==5">
                        <i class="bi bi-star-fill  text-opacity-75 text-danger "></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>

                    </ng-container>
                    <ng-container *ngIf="this.product.Valoracion==4">
                        <i class="bi bi-star-fill  text-opacity-75 text-danger "></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>
                    </ng-container>
                    <ng-container *ngIf="this.product.Valoracion==3">
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>
                        <i class="bi bi-star text-secondary ps-1"></i>

                    </ng-container>

                    <p class="mt-5 mb-2"> lorem
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aliquam voluptatibus
                        praesentium
                        labore dolore harum ullam, eligendi fugiat mollitia eum dignissimos voluptas aperiam voluptate
                        non
                        nemo consectetur illum sunt deserunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum natus esse ut dolores et nihil!
                        Reiciendis quaerat illo at ratione voluptate consequuntur, vitae ab nesciunt facere nihil eaque,
                        soluta fuga?
                    </p>

                </div>
                <!--añadir al carrito-->
                <div class="row mt-5 mb-5 text-center">
                    <div class="col-5 d-flex  ">
                        <h5 class="numb_card w-25" style="    margin-bottom: 0px; padding-top: 10px;">
                            {{product.Cantidad_stock}}</h5>
                        <button type="button" class="btn w-75 mx-3 btn-danger btn-opacity-75 text-light">
                            <h6 class="jumbotom">ADD TO CART</h6>
                        </button>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-5 mt-2 d-flex justify-content-start text-start">
                        <p>product added! </p>
                        <h6 class="text-primary" style="margin-left: 5px;">Browse Wishlist</h6>
                    </div>
                </div>
                <!--seccion 3-->
                <div class="row mt-5 justify-content-start ">
                    <div class="col-8 ">
                        <ul class="list-group list-group-flush mt-2" style=" border: var(--bs-secondary) 1px dashed;">
                            <li class="list-group-item d-flex  ">
                                <h6 class="text-center me-auto p-1 text-primary ">SKU:</h6>
                                <h6 class="text-center p-1">{{product.SKU}}</h6>
                            </li>
                            <li class="list-group-item d-flex ">
                                <h6 class="text-center me-auto p-1 text-primary ">Category:</h6>
                                <h6 class="text-center  p-1">{{product.Categoria}}</h6>
                            </li>
                            <li class="list-group-item d-flex ">
                                <h6 class="text-center me-auto p-1 text-primary ">Tags:</h6>
                                <h6 class="text-center p-1">{{product.Tags}}</h6>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
        </div>

        <!--secion 3-->        
        <div class="row justify-content-center text-center mt-5">
            <div class="col-8">
                <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="false" tabindex="-1">
                            <h3 class="text-primary">DESCRIPTION</h3>
                            <img class=" img-fluid" src="../../../assets/recursos/recursos/main/home-8.png" alt="">
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">
                            <h3 class="text-primary">ADITIONAL INFORMATION</h3>
                        </button>
                        <button class="nav-link " id="nav-contact-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                            aria-selected="true">
                            <h3 class="text-primary">REVIEWS (1)</h3>
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                       <p>{{product.Description}}</p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p>{{product.Informacion_Adicional}}</p>
                    </div>
                    <div class="tab-pane fade active show" id="nav-contact" role="tabpanel"
                        aria-labelledby="nav-contact-tab">
                        <p>This is some placeholder content the <strong>Contact tab's</strong> associated content.
                            Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript
                            swaps classes to control the content visibility and styling. You can use it with tabs,
                            pills, and any other <code>.nav</code>-powered navigation.</p>
                    </div>
                </div>
            </div>
        </div>
            

        <!--secion4-->
        <div class="row justify-content-center text-center mt-5">
            <div class="col mt-5">
                <h3 class="text-primary">RELATED PRODUCTS</h3>
                <img class=" img-fluid" src="../../../assets/recursos/recursos/main/home-8.png" alt="">
            </div>
        </div>
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-3">
                <img class=" img-fluid " src="../../../assets/recursos/recursos/for girls/girls-4-580x870.jpg" alt="">
                <h6 class="text-danger text-opacity-75">For girls</h6>
                <h5 class="text-primary">Dark Blue T-Shirt</h5>
                <h6 class="text-primary">$20.00</h6>
                <div class="star mt-3">
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star text-secondary ps-1"></i>
                    <i class="bi bi-star text-secondary ps-1"></i>
                </div>
            </div>
            <div class="col-3 ">
                <img class=" img-fluid" src="../../../assets/recursos/recursos/for girls/girls-2-580x870.jpg" alt="">
                <h6 class="text-danger text-opacity-75">For home</h6>
                <h5 class="text-primary">Pink Coat</h5>
                <h6 class="text-primary">$15.00</h6>
                <div class="star mt-3">
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star text-secondary ps-1"></i>
                </div>

            </div>
            <div class="col-3 position-relative">
                <img class=" img-fluid " src="../../../assets/recursos/recursos/for girls/girls-9-580x870.jpg" alt="">
                <h6 class="text-danger text-opacity-75">For home</h6>
                <h5 class="text-primary">Rainbow Swartshirt</h5>
                <div class="star mt-3">
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star text-secondary ps-1"></i>
                </div>
                <button class="btn text-primary btn-light rounded-pill px-3 position-absolute top-0 end-0 mx-3 mt-2"
                    type="button" disabled>OUT OF STOCK</button>


            </div>
            <div class="col-3 position-relative">
                <img class=" img-fluid " src="../../../assets/recursos/recursos/for girls/girls-10-580x870.jpg" alt="">
                <h6 class="text-danger text-opacity-75">For home</h6>
                <h5 class="text-primary">Printed Blouse</h5>
                <div class="star mt-3">
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star-fill  text-opacity-75 text-danger ps-1"></i>
                    <i class="bi bi-star text-secondary ps-1"></i>
                </div>
                <button class="btn text-primary btn-light rounded-pill px-3 position-absolute top-0 end-0 mx-3 mt-2"
                    type="button" disabled>OUT OF STOCK</button>

            </div>
        </div>
    </ng-container>
   
</div>